@model Maderera_Aplicacion_Web.Models.Pret07Extraccion

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h2>Extraccion</h2>
        </div>
        <div class="col-sm-6 text-right">
            <a class="btn btn-danger" asp-action="ListadoExtraccion">Ver Listado</a>
        </div>
    </div>

    <hr class="text-decoration-line-through" />

    <div class="row mt-4">
        <div class="col-md-4">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Fecha Extraccion
                    </dt>
                    <dd>
                        @if (Model.FechaExtraccion != null)
                        {
                            <input type="text" value="@Model.FechaExtraccion.ToString("yyyy-MM-dd")" readonly />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>

                </div>
                <div class="col-sm-12">
                    <dt>
                        Nro. Arboles Total:
                    </dt>
                    <dd>
                        @if (Model.NroArbolesTotal != null)
                        {
                            <input type="text" value="@Model.NroArbolesTotal" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>

                <div class="col-sm-10">
                    <dt>
                        Comentario:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.Comentario))
                        {
                            <input type="text" value="@Model.Comentario" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>


              
            </dl>
        </div>

        <div class="col-md-4">
            <dl class="row">
               
               
                <div class="col-sm-12">
                    <dt>
                        Nro. Trozas Total:
                    </dt>
                    <dd>
                        @if (Model.NroTrozosTotal != null)
                        {
                            <input type="text" value="@Model.NroTrozosTotal" disabled />
                        }
                        else
                        {
                            <input type="text"placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Promedio Diametro Total:
                    </dt>
                    <dd>
                        @if (Model.DiamProTotal != null)
                        {
                            <input type="text" value="@Model.DiamProTotal" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
            </dl>
        </div>

        <div class="col-md-4">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Altura Arbol Total:
                    </dt>
                    <dd>
                        @if (Model.AltArbolProTotal != null)
                        {
                            <input type="text" value="@Model.AltArbolProTotal" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
               
                <div class="col-sm-12">
                    <dt>
                        Campaña:
                    </dt>
                    <dd>
                        @if (Model.IdCampanaNavigation != null && Model.IdCampanaNavigation.IdCampana != null)
                        {
                            <input type="text" value="@Model.IdCampanaNavigation.IdCampana" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
