@model Maderera_Aplicacion_Web.Models.Pret07Extraccion

<div class="row w-100">
    <div class="col col-sm-5 ml-5">
        <h2>Predio</h2>
    </div>
    <div class="col-6 text-right">

        <a class="btn btn-danger" asp-action="ListadoExtraccion">Ver Listado</a>
    </div>
</div>

<hr class="text-decoration-line-through" />



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.FechaExtraccion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaExtraccion)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.Info01)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Info01)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.Info02)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Info02)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.Info03)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Info03)
                    </dd>
                </div>

            </dl>
        </div>
        </div>



    <div class="row">
        <div class="col-md-3">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.Info04)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Info04)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.NroArbolesTotal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NroArbolesTotal)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.NroTrozosTotal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NroTrozosTotal)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.DiamProTotal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DiamProTotal)
                    </dd>
                </div>

            </dl>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.AltArbolProTotal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AltArbolProTotal)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.Comentario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Comentario)
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdCampanaNavigation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdCampanaNavigation.IdCampana)
                    </dd>
                </div>
               

            </dl>
        </div>
    </div>
 </div>


   
    

