@model Maderera_Aplicacion_Web.Models.Pret07Extraccion

@{
    <title>@ViewData["Title"] Jhyperionm</title>
}


<div class="d-flex ml-5">
    <!-- Primera fila con los botones -->
    <div class="row mb-1 justify-content-end w-100 ">
        <div class="col mb-3 mr-5">
            <img class="img-fluid" style="margin: 0.25% 3.5%;
             width: 18.5%;
             position: absolute;" src="~/jhyperionm.png" alt="Logo de la empresa )">
        </div>

        <div class="col mb-3 ml-3 mr-3">
            <div class="d-flex justify-content-between p-0" id="botonesbarra1">
                <button id="guardarExt" class="btn btn-success btn-sm mr-2" role="button">Guardar</button>
                <button id="guardarycerrarExt" class="btn btn-primary btn-sm mr-2" role="button">Guardar y Cerrar</button>
                <button id="cancelarExt" asp-controller="Pret07Extraccion" asp-action="ListadoExtraccion" class="btn btn-danger btn-sm" role="button">Cancelar</button>
            </div>
        </div>

        <div class="col mb-3 ml-5 mr-3">
            <div class="form-check d-flex justify-content-start p-0">
                @*<div class="nota-pedido container-fluid">
                    <p class="text-black text-wrap align-content-lg-around">Campaña:</p>
                    <div class="nota-pedido">
                        
                    </div>
                </div>*@
            </div>
        </div>
        <div class="col mb-3 ml-3">
@*            <div class="form-check d-flex justify-content-start p-0">
                <div class="">

                    <input class="form-check-input" type="checkbox" value="" id="checkEstado" />
                    <span class="text-black">Borrador</span>
                </div>
            </div>*@
        </div>
    </div>
</div>

<hr class="mt-4" />

            <div class="col">
                <div class="card">
            <div class="card-header">
                <h4>Extraccion</h4>
            </div>
            <div class="card-body">
            <form id="FormExtraccion">

                <ul class="nav nav-tabs bg-light border-bottom-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" id="regisextrac-tab" data-toggle="tab" href="#regisextrac">
                            <b>Extracción</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="TAextrac-tab" data-toggle="tab" href="#TAextrac">
                            <b>Tipo de arbol</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="Trabajadorextrac-tab" data-toggle="tab" href="#Trabajadorextrac">
                            <b>Trabajador</b>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                 @* PARA LA TABLA REGISTRO DE EXTRACCION*@
                <div class="tab-pane fade in active show" id="regisextrac">
                    
                        <div class="form-row mt-3 container-fluid">
                            <div class="col-md-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Fecha Ext* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="fechaextraccion" required asp-for="FechaExtraccion" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span asp-validation-for="FechaExtraccion" class="text-danger" ></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Promd Altura* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="altarbtotal" readonly required asp-for="AltArbolProTotal" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span asp-validation-for="AltArbolProTotal" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Total nro Arbol* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="nroarboltotal" required readonly asp-for="NroArbolesTotal" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span asp-validation-for="NroArbolesTotal" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Total nro Trozas* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="nrotrozastotal" required readonly asp-for="NroTrozosTotal" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span asp-validation-for="NroTrozosTotal" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Promd Diametro* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="diamprototal" required readonly asp-for="DiamProTotal" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span asp-validation-for="DiamProTotal" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Comentario" class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"></label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="comentario" asp-for="Comentario" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span asp-validation-for="Comentario" class="text-danger"></span>

                                    </div>
                                </div>
                                

                            </div>




                        </div>
                    
                    </div> 
                @* PARA LA TABLA REGISTRO DE DETALLE EXTRACCION*@
                <div class="tab-pane fade " id="TAextrac">
                        <div class="form-row mt-3 container-fluid">
                            <div class="col-md-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Campaña* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select required id="campextcbo" class="form-control form-control-sm mx-sm-3 mb-2" data-modal-target="modalcampext" onchange="SelectChange(this,'modalcampext')" required>
                                        <option selected value="none">Seleccionar opción</option>
                                        <option value="buscar">Buscar</option>
                                    </select>
                                    <div style="display: flex; align-items: center;">
                                        <span id="campextNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                        <span class="btn btn-close" id="removeCampextSpan" style="cursor: pointer; display: none;" onclick="removecampext()"></span>
                                    </div>
                                    </div>
                                 </div>
                                 <div class="form-group row">

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Tipo de Arbol* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select id="campanataselect" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                            </select>
                                    </div>
                                </div>
                                

                            </div>

                            <div class="col-md-3">

                                <div hidden class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap"> Tipo de arbol* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="nombreta" readonly class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Nro Arbol* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="nroarbolta" type="number" min="1" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Nro trozas* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="nrotrozasta" type="number" min=1 class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>




                            </div>
                           
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Altura* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="alturata" type="number" min=1 class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Diametro* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="diametrota" type="number" min=1 class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>
                                


                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Comentario : </label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="comentariota" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-2">
                                        <button type="button" class="botonaddProducto btn btn-success" onclick="agregarCampanataExt()">Agregar</button>
                                    </div>
                                </div>

                            </div>
                           



                        </div>
                        <table align="center" border="1" cellspacing="0" class="table table-striped table-bordered m-0" id="">
                        <thead class="HeadTA">
                            <tr>
                                <td class="text-center">Tipo de Arbol</td>
                                    <td class="text-center">Numero de Arboles</td>
                                    <td class="text-center">Altura</td>

                                    <td class="text-center">Diametro</td>
                                    <td class="text-center">Numero de Trozas</td>
                                    <td class="text-center">Comentario</td>
                                    <td colspan="2" class="text-center">Opciones</td>
                            </tr>
                        </thead>
                            <tbody class="BodyTA" id="tipoArbolSeleccionadosExt">
                        </tbody>
                    </table>
                </div>
                @* PARA LA TABLA REGISTRO TRABAJADORES*@
                <div class="tab-pane fade" id="Trabajadorextrac">

                        <div class="form-row mt-4 container-fluid">
                        <div class="col-md-4">
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Empleado* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select id="empextcbo" class="form-control form-control-sm mx-sm-3 mb-2 " data-modal-target="modalempext" onchange="SelectChange(this,'modalempext')">
                                        <option selected value="none">Seleccionar opción</option>
                                        <option value="buscar">Buscar</option>
                                    </select>
                                    <div hidden> <input id="empextId" type="number" /></div>
                                    <div style="display: flex; align-items: center;">
                                            <span id="empextNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                            <span class="btn btn-close" id="removeempextSpan" style="cursor: pointer; display: none; margin-left: 5px;" onclick="removeempext()"></span>
                                    </div>
                                    </div>
                            </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Cargo* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input readonly id="categoriaempleado" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                    </div>


                                </div>

                        </div>
                        <div class="col-md-4">
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Nro. doc Ide* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input readonly id="nrodocempleado" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                    </div>


                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"    >Condicion* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input readonly id="condicionempleado" class="form-control form-control-sm mx-sm-3 mb-2">
                                    </div>


                                </div>

                             
    

                        </div>
                            
                            
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Teléfono* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input readonly id="telefonoempleado" class="form-control form-control-sm mx-sm-3 mb-2">
                                    </div>


                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-8 mt-0 ml-3 mr-3 mb-0">
                                        <button type="button" class="btn btn-success" onclick="agregarextemp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                </div>




                            </div>

                         


                            <table align="center" border="1" cellspacing="0" class="table table-striped table-bordered m-0" id="">
                                <thead class="HeadTA">
                                    <tr>
                                        <td class="text-center">Empleado</td>
                                       
                                        <td class="text-center">Condicion</td>
                                        <td class="text-center">Teléfono</td>
                                        <td class="text-center">Nro. Doc. Ident.</td>
                                        <td class="text-center">Cargo</td>

                                        <td colspan="2" class="text-center">Opciones</td>
                                    </tr>
                                </thead>
                                <tbody class="BodyTA" id="empSeleccionadosExt">
                                </tbody>
                            </table>

                         </div>
                    
                    
                    
                    
                    
                    

                </div>

                </div>



            </form>


            @*MODAL PARA EDITAR TIPO ARBOL*@
            <div id="editarTAEXTModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h2 class="modal-title">Editar Campaña por tipo de Arbo en Extracciónl</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body container-fluid">
                            <label>Tipo de Arbol:</label>
                            <input readonly id="TAExtinput" class="form-control">
                            <input hidden  id="IdEditarTAExt" class="form-control">
                            <label for="nuevaCantidad">Nueva Cantidad de Àrboles:</label>
                            <input type="number" id="nuevonroarbolTAExt" class="form-control">
                            <label for="nuevoDescuento">Nueva Altura:</label>
                            <input type="number" id="nuevaalturaTAExt" class="form-control">
                            <label for="nuevoDescuento">Nuevo Diámetro:</label>
                            <input type="number" id="nuevodiametroTAExt" class="form-control">
                            <label for="nuevoDescuento">Nuevo Nro de trozas:</label>
                            <input type="number" id="nuevanrotrozasTAExt" class="form-control">
                            <label for="nuevoDescuento">Nueva Comentario:</label>
                            <input type="text" id="comentarioTAExt" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="aplicarCambiosTAExt()" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            @*MODAL PARA EDITAR EMPLEADOS*@
            <div id="editarEMPEXTModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Editar Empleados en Extracciónl</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body container-fluid">

                            <input hidden id="IdEditarempext" class="form-control">
                          @*  <label for="nuevaCantidad">Nuevo Salario:</label>
                            <input type="number" id="nuevosalarioextemp" class="form-control">*@
                            <label for="nuevoDescuento">Categoría:</label>
                            <input readonly type="text" id="nuevacategoriaextemp" class="form-control">
                            <label for="nuevoDescuento">Condición:</label>
                            <input readonly type="text" id="nuevacondicioneemp" class="form-control">
                            <label for="nuevoDescuento">Documento de Identidad::</label>
                            <input readonly type="text" id="nuevodocextemp" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="aplicarCambiosExtemp()" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            @*MODAL PARA EMPLEADOS*@
            <div class="modal modal-xl custom-modal" id="modalempext" tabindex="-1" role="dialog" aria-labelledby="modalempextLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalempextLabel">Empleados de extracción</h5>
                            <button type="button" onclick="closeModal('modalempext','empextcbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="client-container">
                                <div class="row">

                                    <table class="display" id="tablaempext">
                                        <thead>
                                            <tr align="center">
                                                <th class="client-cell text-center">Empleado</th>
                                                <th class="client-cell text-center">Dirección</th>
                                                <th class="client-cell text-center">Teléfono</th>
                                                <th class="client-cell text-center">Cargo</th>
                                                <th class="client-cell text-center">Doc. Identidad</th>
                                                <th class="client-cell text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyempext">
                                            @foreach (var EmpleadoExt in ViewBag.EmpExt)
                                            {
                                                <tr>
                                                    <td align="center" class="client-cell">@EmpleadoExt.NombreCompleto</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.Direccion</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.telefono</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.cargo</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.Ruc</td>
                                                    <td align="center" class="client-cell">
                                                        <button class="btn btn-primary" onclick="seleccionarempext('modalempext','empextcbo','empextId','empextNombre','@EmpleadoExt.Idempleado', '@EmpleadoExt.NombreCompleto')">Seleccionar</button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="closeModal('modalempext','empextcbo')" class="btn btn-secondary">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>




            </div>


            @*MODAL DE CAMPAÑA EN EXTRACCIÓN*@
            <div class="modal modal-xl custom-modal" id="modalcampext" tabindex="-1" role="dialog" aria-labelledby="modalcampextLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCampextLabel">Predio</h5>
                            <button type="button" onclick="closeModal('modalcampext','campextcbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="container-fluid">

                                <table class="display" id="tablaCampanaExt">
                                    <thead>
                                        <tr align="center" class="small">
                                            <th class="client-cell text-center">Codigo Campaña</th>
                                            <th class="client-cell text-center">Unidad Catastral</th>
                                            <th class="client-cell text-center">Fecha de Inicio</th>
                                            <th class="client-cell text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodycampext">
                                        @foreach (var campanaext in ViewBag.CampanaExt)
                                        {
                                            <tr>
                                                <td align="center" class="client-cell">@campanaext.codigo</td>
                                                <td align="center" class="client-cell">@campanaext.nrositio</td>
                                                <td align="center" class="client-cell">@campanaext.fechaini</td>
                                                <td align="center" class="client-cell">
                                                    <button class="btn btn-primary" onclick="seleccionarcampext('modalcampext','campextcbo','@campanaext.id', '@campanaext.codigo')">Seleccionar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="closeModal('modalcampext', 'campextcbo')" class="btn btn-secondary">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>




</div>
</div>
</div>

 

<script>

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('nroarbolta').addEventListener('input', function () {
            $.ajax({
                url: '/Pret07Extraccion/GetVarUmbralnroarbol',
                type: 'GET',
                success: function (data) {
                    var valorNumerico = parseInt(data, 10);
                    var valorIngresado = parseInt(document.getElementById('nroarbolta').value);

                    // Establece los límites superior e inferior según tus criterios
                    var limiteInferior = 1;
                    var limiteSuperior =valorNumerico; // Puedes ajustar este valor según tus necesidades

                    // Valida si el valor está dentro de los límites permitidos
                    if (isNaN(valorIngresado) || valorIngresado < limiteInferior) {
                        document.getElementById('nroarbolta').value = limiteInferior;
                    } else if (valorIngresado > limiteSuperior) {
                        document.getElementById('nroarbolta').value = limiteSuperior;
                    }
                },
                error: function (error) {
                    console.error('Error al cargar campaña tipo arbol:', error.responseText);
                    reject(error);
                }
            });
            // Obtén el valor actual del campo
            
        });


               

        var table6 = jQuery('#tablaCampanaExt').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Campañas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Campañas",
                    "infoFiltered": "(Filtrado de _MAX_ total Campañas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Campañas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                initComplete: function () {
                    // Código a ejecutar después de que la tabla se haya inicializado
                    console.log("La inicialización de la tabla está completa");
                    // Puedes agregar más acciones aquí según tus necesidades
                }
            }
                

        );

        var table7= jQuery('#tablaempext').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Empleados",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Empleados",
                    "infoFiltered": "(Filtrado de _MAX_ total Empleados)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Empleados",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
               
            }


        );
        

        var extraccion= @Html.Raw(Json.Serialize(ViewBag.Extraccion));
        var detalles = @Html.Raw(Json.Serialize(ViewBag.Detalles));
        var empleados = @Html.Raw(Json.Serialize(ViewBag.Empleados));
        var CompParsed = JSON.parse(extraccion);
        var detallesParsed = JSON.parse(detalles);
        var empleadosParsed = JSON.parse(empleados);
        if (CompParsed !== null) {
            console.log(CompParsed);
            detallesParsed.forEach(function (detalle) {
                var campTA = {
                    idunico: detalle.CodigoExtraccion,
                    idTipoArbol: detalle.IdTipoArbol,
                    nombreTipoarbol: detalle.TxtTipoArbol,
                    numarbol: detalle.NroArboles,
                    altura: detalle.AltArbolPro,
                    diametro: detalle.DiamPro,
                    nrotrozas: detalle.NroTrozos,
                    comentario: detalle.Comentario
                };
                CampanatipoArbolExt.push(campTA);
            });
            empleadosParsed.forEach(function (detalle) {
                var campTA = {
                    idempleado: detalle.idempleado,
                    txtempleado: detalle.txtempleado,
                    //salario: detalle.salario,
                    nrodoc: detalle.nrodoc,
                    categoria: detalle.categoria,
                    condicion: detalle.condicion,
                };
                arregloextemp.push(campTA);
            });
            var inversionistaNombreSpan = document.getElementById('campextNombre');
            var removeInversionistaSpan = document.getElementById('removeCampextSpan');
            inversionistaNombreSpan.innerText = CompParsed.codigo;
            inversionistaNombreSpan.style.display = 'inline-block';
            removeInversionistaSpan.style.display = 'inline-block';
            // Ocultar el seleCAMPEXT
            var selectElement = document.getElementById('campextcbo');
            selectElement.style.display = 'none';
            document.getElementById('nrotrozasta').value = 1;
            document.getElementById('alturata').value = 1;
            document.getElementById('diametrota').value = 1;
            document.getElementById('comentariota').value = '';

            actualizarTablaTipoArbolSeleccionadosExt();
            actualizartablaextemp();
        } else {
            document.getElementById("fechaextraccion").value = returndatenowWithTime();
        }


    });
</script>