@model IEnumerable<Maderera_Aplicacion_Web.Models.Pret33Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxtObservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAprobPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plazo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVtoProg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroCuotasGracia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posteo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuotaDoble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTcea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesembolso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrimPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comisiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxtEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxtUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxtUsuariomod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAutorizadorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMotivoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoPlazoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoPrestamoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuariomodNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxtObservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAprobPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plazo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVtoProg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroCuotasGracia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posteo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuotaDoble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTcea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesembolso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrimPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comisiones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxtEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxtUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxtUsuariomod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutorizadorNavigation.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMotivoNavigation.IdMotivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPlazoNavigation.IdTipoPlazo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPrestamoNavigation.IdTipoPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuariomodNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestamo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
