@model IEnumerable<Maderera_Aplicacion_Web.Models.Pret33Prestamo>
<title>@ViewData["Title"] Jhyperionm</title>
<div class="container-fluid">
    <div class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between w-100">
            <div class="mt-3">
                <h1>Lista de Prestamos</h1>
            </div>
            <div class="d-flex flex-row mt-3">
                <div class="nav-item " style="margin-right: 10px;">
                    <a asp-controller="Pret33Prestamo" asp-action="Prestamo" class="btn btn-success btn-sm">Crear</a>
                </div>
                <div class="nav-item r">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-sm">Salir</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="align-items:center;justify-content:center;text-align:center;margin-right:60px;margin-left:50px; margin-top:20px;">

    <div class="table-responsive-sm">

        <div class="align-content-center">


            <table class="display" id="prestabla" style="border: 1px solid black; ">
                <thead style="font-size:16px;text-align:center;">
                    <tr class="table-primary">
                        <th class="text-center">
                            Fecha Aprobamiento
                        </th>

                        <th class="text-center">
                            Monto Cuotas
                        </th>
                        <th class="text-center">
                            Monto Total
                        </th>
                        <th class="text-center">
                            Plazo
                        </th>
                        <th class="text-center">
                            Empleado
                        </th>
                        <th class="text-center">
                            Estado
                        </th>

                        <th class="text-center">
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @item.FechaAprobPrestamo
                            </td>
                            <td class="text-center">
                                @item.MontoCuota
                            </td>
                            <td class="text-center">
                                @(item.MontoTotal)
                            </td>
                            <td class="text-center">
                                @item.Plazo
                            </td>
                            <td class="text-center">
                                @item.IdEmpleadoNavigation.TxtApePat @item.IdEmpleadoNavigation.TxtApeMat , @item.IdEmpleadoNavigation.TxtPriNom @item.IdEmpleadoNavigation.TxtSegNom
                            </td>
                            <td class="text-center">
                                @item.TxtEstado
                            </td>
                            <td>
                                @if (item.IdEstado == 3)
                                {
                                    <a asp-controller="Pret16Merma" asp-action="EditarMerma" asp-route-idmerma="@item.IdPrestamo" class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit" data-placement="top" title="Edit"></i>
                                    </a>
                                    <text>|</text>
                                }
                                <a asp-controller="Pret16Merma" asp-action="Details" asp-route-idmerma="@item.IdPrestamo" class="btn btn-info btn-sm">
                                    <i class="fas fa-eye" data-placement="top" title="Details"></i>
                                </a>
                                @if (item.IdEstado == 3)
                                {
                                    <text>|</text>



                                    @* < !--Botón que activa el modal --> *@

                                    <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmarEliminarMerma" data-id="@item.IdPrestamo">
                                        <i class="fas fa-trash alt"></i>

                                    </a>
                                }


                                <!-- Modal de advertencia -->
                                <div class="modal" id="confirmarEliminarMerma" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Advertencia</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro de que desea eliminar este elemento?
                                            </div>
                                            <div class="modal-footer">
                                                <!-- Botón de cancelar -->
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" onclick="eliminarMerma()">Eliminar</button>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @if (item.IdEstado == 4)
                                {
                                    <text>|</text>

                                    <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmarAnularMerma" data-id="@item.IdPrestamo">
                                        <i class="fas fa-ban"></i>

                                    </a>
                                }
                                <div class="modal fade" id="confirmarAnularMerma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Anulación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro de que desea anular esta merma?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" onclick="anularMerma()">Anular</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>

           



         </div>
     </div>
</div>


<script>

    document.addEventListener("DOMContentLoaded", function () {
        var table = jQuery('#prestabla').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Prestamos",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Prestamos",
                    "infoFiltered": "(Filtrado de _MAX_ total Prestamos)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Prestamos",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }


        );



    });
</script>
