@model Maderera_Aplicacion_Web.Models.Pret34CronogramaPago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pret34CronogramaPago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amortizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amortizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtUsuariomod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtUsuariomod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrestamoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrestamoNavigation.IdPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuariomodNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuariomodNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCronograma">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
