@model Maderera_Aplicacion_Web.Models.Tnst02CompRecibidoDtl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tnst02CompRecibidoDtl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorDscto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorDscto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtoDsctoSinTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtoDsctoSinTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtoDsctoConTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtoDsctoConTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PunitSinTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunitSinTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PunitConTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunitConTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPorTot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPorTot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMtoTot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMtoTot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor03)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor03)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor04)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor04)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor05)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor05)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor06)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor06)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor07)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor07)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPor08)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPor08)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto03)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto03)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto04)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto04)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto05)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto05)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto06)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto06)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto07)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto07)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxMto08)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxMto08)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtoVtaSinTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtoVtaSinTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtoVtaConTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtoVtaConTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtObserv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtObserv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCompRecibidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCompRecibidoNavigation.IdCompRecibido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRazonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRazonNavigation.IdRazon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUmNavigation.IdUm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCompRecibidoDtl">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
