@model Maderera_Aplicacion_Web.Models.Pret10Envio
<title>@ViewData["Title"] Jhyperionm</title>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h2>Detalles de Envío</h2>
        </div>
        <div class="col-sm-6 text-right">
            <a class="btn btn-danger" asp-action="ListadoEnv">Ver Listado</a>
        </div>
    </div>

    <hr class="text-decoration-line-through" />

    <div class="row mt-4">
        <div class="col-md-4">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Numero Envio:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.NroEnvio))
                        {
                            <input type="text" value="@Model.NroEnvio" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Numero:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.TxtNro))
                        {
                            <input type="text" value="@Model.TxtNro" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Serie:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.TxtSerie))
                        {
                            <input type="text" value="@Model.TxtSerie" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Envio Cantidad:
                    </dt>
                    <dd>
                        @if (Model.EnvioCant != null)
                        {
                            <input type="text" value="@Model.EnvioCant" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Fecha:
                    </dt>
                    <dd>
                        @if (Model.FechaEnvio != null)
                        {
                            <input type="text" value="@Model.FechaEnvio.ToString("yyyy-MM-dd")" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
            </dl>
         </div>

        <div class="col-md-4">
            <dl class="row">


               
                <div class="col-sm-12">
                    <dt>
                        Estado:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.TxtEstado))
                        {
                            <input type="text" value="@Model.TxtEstado" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Usuario:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.TxtUsuario))
                        {
                            <input type="text" value="@Model.TxtUsuario" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Usuario Modificador:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.TxtUsuarioModificador))
                        {
                            <input type="text" value="@Model.TxtUsuarioModificador" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Fecha Modificacion:
                    </dt>
                    <dd>
                        @if (Model.FechaModificacion != null)
                        {
                            <input type="text" value="@Model.FechaModificacion" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>

                </dl>

        </div>

        <div class="col-md-4">
            <dl class="row">


                <div class="col-sm-12">
                    <dt>
                        Extraccion:
                    </dt>
                    <dd>
                        @if (Model.IdExtraccionNavigation != null && Model.IdExtraccionNavigation.IdExtraccion != null)
                        {
                            <input type="text" value="@Model.IdExtraccionNavigation.IdExtraccion" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Locacion:
                    </dt>
                    <dd>
                        @if (Model.IdLocationNavigation != null && Model.IdLocationNavigation.IdLocation != null)
                        {
                            <input type="text" value="@Model.IdLocationNavigation.IdLocation" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Locacion Llegada:
                    </dt>
                    <dd>
                        @if (Model.IdLocationToNavigation != null && Model.IdLocationToNavigation.IdLocation != null)
                        {
                            <input type="text" value="@Model.IdLocationToNavigation.IdLocation" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
            
               
                
            </dl>
        
            </div>
    </div>
</div>

