@model Maderera_Aplicacion_Web.Models.Pret10Envio
<title>@ViewData["Title"] Jhyperionm</title>
<div class="d-flex ml-3">
    <!-- Primera fila con los botones -->
    <div class="row mb-1 justify-content-end img-fluid ">
        <div class="col mb-1 ml-5 p-0">
            <img class="img-fluid" style="
             width: 25.5%;
             position: absolute;" src="~/jhyperionm.png" alt="Logo de la empresa )">
        </div>

        <div class="col mb-1 mr-5 p-0">
            <div class="d-flex justify-content-between ml-1 p-0" id="botonesbarra1">
                <button id="guardarEnv" class="btn btn-success btn-sm  " role="button">Guardar</button>
                <button id="guardarycerrarEnv" class="btn btn-primary btn-sm mx-2" role="button">Guardar y Cerrar</button>
                <button id="cancelarEnv" asp-controller="Pret10Envio" asp-action="ListadoEnv" class="btn btn-danger btn-sm" role="button">Cancelar</button>
            </div>
        </div>

        <div class="col mb-1 mx-2 p-0">
            <div class="form-check d-flex justify-content-start p-0">
                <div class="nota-pedido">
                    <b><p class="text-black text-nowrap  align-content-lg-around" style="font-size:12px;">Numero De Envio</p></b>
                    <div class="text-sm-center ">
                        @{
                            if(Model!=null){
                                <input class="form-control" readonly asp-for="NroEnvio" id="nroenvio" type="text">
                            }
                            else{
                                <input class="form-control" readonly value=@ViewBag.NroEnv asp-for="NroEnvio" id="nroenvio" type="text">
                            }}
                        </div>
                </div>
            </div>
        </div>
        <div class="col mb-1 mx-2 p-0">
            <div class="form-check d-flex justify-content-start p-0">
                <div class="nota-pedido ">
                    <b>
                        <p class="text-black text-nowrap align-content-lg-around" style="font-size:12px;">Codigo Campaña</p></b>
                    <div class="text-sm-center ">
                        @{
                            if (Model == null)
                            {
                                <input class="form-control" readonly id="codCam" type="text">

                            }
                            else
                            {

                            <input value='@ViewBag.CodCam' class="form-control" readonly id="codCam" type="text">

                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-1 mx-2 p-0">
            <div class="form-check d-flex justify-content-start p-0">
                <div class="nota-pedido ">
                    <b>
                        <p class="text-black text-nowrap align-content-lg-around" style="font-size:12px;">Unidad Catastral</p></b>
                    <div class="text-sm-center">
                        @{
                            if (Model == null)
                            {
                                <input class="form-control" readonly id="unCat" type="text">


                            }
                            else
                            {

                                <input value='@ViewBag.UnidCat' class="form-control" readonly id="unCat" type="text">


                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-2 ml-5 p-0">
                        <div class="form-check d-flex justify-content-start p-0">
            <div class="">

                    <input class="form-check-input" checked type="checkbox" id="checkEstadoEnvio" 
                        />

            <span class="text-black"  id="moodNameEnv">BORRADOR</span>
            </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-4" />

<div class="col">
    <div class="card">
        <div class="card-header">
            <h4>ENVIO</h4>
        </div>
        <div class="card-body">
            

                <ul class="nav nav-tabs bg-light border-bottom-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" id="regisextrac-tab" data-toggle="tab" href="#regisextrac">
                            <b>Registro Envio</b>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" id="Detalleenv-tab" data-toggle="tab" href="#Detalleenv">
                            <b>Detalles</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="Trabajadorextrac-tab" data-toggle="tab" href="#Trabajadorextrac">
                            <b>Trabajador</b>
                        </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link text-dark " id="timbeterextrac-tab" data-toggle="tab" href="#timbeterextrac">
                        <b>TIMBETER</b>
                    </a>
                </li>
                </ul>

                <div class="tab-content">
                
                    @* PARA LA TABLA REGISTRO DE ENVIO*@
                    <div class="tab-pane fade in active show" id="regisextrac">
                    <form id="FormEnvio">

                        <div class="form-row mt-3 container-fluid">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <input hidden asp-for="IdLocation" required id="Locationenvid" />
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Origen* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select id="locenvcbo" class="form-control form-control-sm mx-sm-3 mb-2 p-0" data-modal-target="modallocenv" onchange="SelectChange(this,'modallocenv')">
                                            <option selected value="none">Seleccionar opción</option>
                                            <option value="buscar">Buscar</option>
                                        </select>
                                        <div style="display: flex; align-items: center;">
                                            <span id="LocalizacionenvNombre" class="spanllegada" style="display: none;"></span>
                                            <span id="removeLocalizacionenvSpan" class="equisllegada" style="cursor: pointer; display: none; margin-left: 5px;" onclick="removeLocationenv()">X</span>
                                        </div>
                                        <div class="modal modal-xl custom-modal" id="modallocenv" tabindex="-1" role="dialog" aria-labelledby="modallocenvLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modallocLabel">ORIGEN</h5>
                                                        <button type="button" onclick="closeModal('modallocenv','locenvcbo')" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body custom">
                                                        <div class="client-container">
          
                                                            <table class="display" id="tablalocalizacionenv">
                                                                <thead>
                                                                    <tr align="center">
                                                                        <th class="client-cell text-center">Localización</th>
                                                                        <th class="client-cell text-center">Dirección</th>
                                                                        <th class="client-cell text-center">Fecha Negocio</th>
                                                                        <th class="client-cell text-center">Tipo de localización</th>
                                                                        <th class="client-cell text-center">Opciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="bodysamelocenv1">
                                                                    @foreach (var localizacion in ViewBag.Location)
                                                                    {
                                                                        <tr>
                                                                            <td align="center" class="client-cell">@localizacion.NombreCompleto</td>
                                                                            <td align="center" class="client-cell">@localizacion.Direccion</td>
                                                                            <td align="center" class="client-cell">@localizacion.FechaN</td>
                                                                            <td align="center" class="client-cell">@localizacion.Tipol</td>
                                                                            <td align="center" class="client-cell">
                                                                                <button class="btn btn-primary" onclick="seleccionarLocationenv('modallocenv','locenvcbo','Locationenvid','LocalizacionenvNombre','@localizacion.IdLocation', '@localizacion.NombreCompleto')">Seleccionar</button>
                                                                            </td>
                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" onclick="closeModal('modallocenv','locenvcbo')" class="btn btn-secondary">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <input hidden asp-for="IdLocationTo" required id="Locationtoenvid" />

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Destino* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select id="ltoenvcbo" required class="form-control form-control-sm mx-sm-3 mb-2 p-0" data-modal-target="modalltoenv" onchange="SelectChange(this,'modalltoenv')">
                                            <option selected value="none">Seleccionar opción</option>
                                            <option value="buscar">Buscar</option>
                                        </select>
                                        <div style="display: flex; align-items: center;">
                                            <span id="LocalizaciontoenvNombre" class="spandestino" style="display: none;"></span>
                                            <span id="removeLocalizaciontoenvSpan" class="equisdestino" style="cursor: pointer; display: none; margin-left: 5px;" onclick="removeLocationtoenv()">X</span>
                                        </div>

                                        <div class="modal modal-xl custom-modal" id="modalltoenv" tabindex="-1" role="dialog" aria-labelledby="modalltoenvLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modallocLabel">Localización Destino:</h5>
                                                        <button type="button" onclick="closeModal('modalltoenv','ltoenvcbo')" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body custom">
                                                        <div class="client-container">
                                                            <div class="row">
                                                            </div>

                                                            <table class="display" id="tablalocalizaciontoenv">
                                                                <thead>
                                                                    <tr align="center">
                                                                        <th class="client-cell text-center">Localización</th>
                                                                        <th class="client-cell text-center">Dirección</th>
                                                                        <th class="client-cell text-center">Fecha Negocio</th>
                                                                        <th class="client-cell text-center">Tipo de localización</th>
                                                                        <th class="client-cell text-center">Opciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="bodysamelocenv2">
                                                                    @foreach (var localizacionto in ViewBag.Locationto)
                                                                    {
                                                                        <tr>
                                                                            <td align="center" class="client-cell">@localizacionto.NombreCompleto</td>
                                                                            <td align="center" class="client-cell">@localizacionto.Direccion</td>
                                                                            <td align="center" class="client-cell">@localizacionto.FechaN</td>
                                                                            <td align="center" class="client-cell">@localizacionto.Tipol</td>
                                                                            <td align="center" class="client-cell">
                                                                                <button class="btn btn-primary" onclick="seleccionarLocationtoenv('modalltoenv','ltoenvcbo','Locationtoenvid','LocalizaciontoenvNombre','@localizacionto.IdLocation', '@localizacionto.NombreCompleto')">Seleccionar</button>
                                                                            </td>
                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" onclick="closeModal('modalltoenv','ltoenvcbo')" class="btn btn-secondary">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Comentario :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input asp-for="Comentario" id="comentarioenv" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Fecha Envio* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input asp-for="FechaEnvio" type="date" id="fechaenv" required class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Nro. Placa* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input asp-for="NroPlaca" id="nroplacaenv" required class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-4">

                                        <!-- Enlace para abrir el modal -->
                                        <a class="btn btn-primary text-decoration-underline" href="#" id="verArchivosLink" onclick="abrirModalArchivosenv()">Ver Archivos</a>
                                    </div>

                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Tipo de env.:</label>
                                    <div class="col-sm-7 ml-5">
                                        <select required id="tipoenvioenv" asp-for="TipoEnvio" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                            <option value="Interno" selected>Interno</option>
                                            <option value="Externo">Externo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Nro. Guia :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input asp-for="NroGuia" id="nroguiaenv" required class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Nro. Guia Transp. :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input asp-for="NroGuiaTransp" required id="nroguiatransenv" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span class="text-danger"></span>

                                    </div>
                                </div>

                            </div>




                        </div>

                        </form>
                        

                    </div>
                    @* PARA LA TABLA REGISTRO Detalle Envío*@
                    <div class="tab-pane fade" id="Detalleenv">

                        <div class="form-row mt-3 container-fluid">

                            <div class="col-md-3">
                                <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Extracción* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select required id="extenvcbo" class="form-control form-control-sm mx-sm-3 mb-2" data-modal-target="modalextenv" onchange="SelectChange(this,'modalextenv')" required>
                                            <option selected value="none">Seleccionar opción</option>
                                            <option value="buscar">Buscar</option>
                                        </select>
                                        <div style="display: flex; align-items: center;">
                                            <span id="extenvNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                            <span class="btn btn-close" id="removeExtenvSpan" style="cursor: pointer; display: none;" onclick="removeextenv()"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">

                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Tipo de Arbol* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select id="extracciontaselect" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                        </select>
                                    </div>
                                </div>
                                

                            </div>
                            <div class="col-md-3">

                                <div hidden class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Tipo de arbol* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="nombretaenv" readonly class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Altura* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input type="number" id="alturataenv" min=1 class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Nro trozas* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input type="number" id="nrotrozastaenv" min=1 class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>




                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Comentario : </label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="comentariotaenv" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Diametro* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input type="number" id="diametrotaenv" min=1 class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>



                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10 ml-2">
                                        <button type="button" class=" btn btn-success" onclick="agregarCampanataEnv()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                      



                        </div>

                        <table align="center" border="1" cellspacing="0" class="table table-striped table-bordered m-0" id="">
                            <thead class="HeadTA">
                                <tr>
                                    <td class="text-center">Tipo de Arbol</td>
                                    <td class="text-center">Altura</td>

                                    <td class="text-center">Diámetro</td>
                                    <td class="text-center">Nro Trozas</td>
                                    <td class="text-center">Comentario</td>
                                    <td colspan="2" class="text-center">Opciones</td>
                                </tr>
                            </thead>
                            <tbody class="BodyTA" id="tipoArbolSeleccionadosEnv">
                            </tbody>
                        </table>


                    </div>


                    @* PARA LA TABLA REGISTRO TRABAJADORES*@
                    <div class="tab-pane fade" id="Trabajadorextrac">
                        <div hidden> <input id="empenvId" type="number" /></div>
                        <div class="form-row mt-3 container-fluid">
                            <div class="col-md-4">
                                <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Empleado* :</label>
                                    <div class="col-sm-7 ml-5">
                                        <select id="empenvcbo" class="form-control form-control-sm mx-sm-3 mb-2 " data-modal-target="modalempenv" onchange="SelectChange(this,'modalempenv')">
                                            <option selected value="none">Seleccionar opción</option>
                                            <option value="buscar">Buscar</option>
                                        </select>
                                        <div hidden> <input id="empextId" type="number" /></div>
                                        <div style="display: flex; align-items: center;">
                                            <span id="empenvNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                            <span class="btn btn-close" id="removeempenvSpan" style="cursor: pointer; display: none; margin-left: 5px;" onclick="removeempenv()"></span>
                                        </div>
                                    </div>
                                </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Cargo* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="categoriaempleadoenv" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                </div>


                            </div>
                             

                            </div>
                            <div class="col-md-4">

                            <div class="form-group row">

                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Nro. doc Ide* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="nrodocempleadoenv" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                </div>


                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Condicion* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="condicionempleadoenv" class="form-control form-control-sm mx-sm-3 mb-2">
                                </div>


                            </div>
                                


                            </div>

                            <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Telefono* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="telefonoempleadoenv" class="form-control form-control-sm mx-sm-3 mb-2">
                                </div>


                            </div>

                            <div class="form-group row">
                                <div class="col-sm-8 mt-0 ml-3 mr-3 mb-0">
                                    <button type="button" class="botonaddProducto btn-success" onclick="agregarenvemp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>

                            </div>
                            </div>

                            <table align="center" border="1" cellspacing="0" class="table table-striped table-bordered m-0" id="">
                                <thead class="HeadTA">
                                    <tr>
                                        <td class="text-center">Empleado</td>@*
                                        <td class="text-center">Salario</td>*@
                                        <td class="text-center">Condicion</td>
                                        <td class="text-center">Telefono</td>
                                        <td class="text-center">Nro. Doc. Ident.</td>
                                        <td class="text-center">Cargo</td>

                                        <td colspan="2" class="text-center">Opciones</td>
                                    </tr>
                                </thead>
                                <tbody class="BodyTA" id="empSeleccionadosEnv">
                                </tbody>
                            </table>

                        </div>







                    </div>
                @* PARA LA TABLA REGISTRO DE TIMBETER*@

                <div class="tab-pane fade" id="timbeterextrac">
                    <div class="form-row mt-3 container-fluid">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <!-- Enlace para abrir el modal -->
                                    <a class="btn btn-primary text-decoration-underline" href="#" id="verArchivosLink" onclick="abrirModalArchivostim()">Ver Archivos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                   @* <div class="form-row mt-3 container-fluid">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <input type="file" onchange="cargarArchivoExcel(this.files[0], convertirExcelAHTML)">
                                    <h2>Tabla HTML</h2>
                                    <table id="tabla"></table>
                                </div>

                            </div>
                        </div>
                    </div>*@
                </div>

               
                </div>



            <!-- Modal para agregar y ver archivos TIMBETER-->
            <div class="modal fade modal-xl container-fluid" id="modalArchivostim" tabindex="-1" role="dialog" aria-labelledby="modalArchivosenvLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalArchivosLabel">Archivos Cargados</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="container-fluid">


                                <div class="m-3">
                                    <input type="file" id="nuevoArchivotim" multiple>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="text-start m-2">
                                        <button type="button" class="btn btn-success" onclick="agregarArchivotim()">Añadir</button>
                                    </div>
                                    <div class="text-end m-2">
                                        <button type="button" class="btn btn-outline-secondary" onclick="vaciarArregloYActualizarTablatim()">Vaciar archivos</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Tabla para mostrar la lista de archivos en el modal -->
                            <table class="table container-fluid">
                                <thead>
                                    <tr>
                                        <th>Archivo</th>
                                        <th>Tipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="container-fluid small" id="tablaArchivostimBody"></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>




            @*MODAL PARA EDITAR TIPO ARBOL*@
            <div id="editarTAENVModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h2 class="modal-title">Editar Extracción por tipo de Arbol en Envío</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body container-fluid">
                            <label>Tipo de Arbol:</label>
                            <input readonly id="TAExtinputenv" class="form-control">
                            <input hidden id="IdEditarTAEnv" class="form-control">
                            <label for="nuevoDescuento">Nueva Altura:</label>
                            <input type="number" id="nuevaalturaTAEnv" class="form-control">
                            <label for="nuevoDescuento">Nuevo Diámetro:</label>
                            <input type="number" id="nuevodiametroTAEnv" class="form-control">
                            <label for="nuevoDescuento">Nuevo Nro de trozas:</label>
                            <input type="number" id="nuevanrotrozasTAEnv" class="form-control">
                            <label for="nuevoDescuento">Nueva Comentario:</label>
                            <input type="text" id="comentarioTAEnv" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="aplicarCambiosTAEnv()" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para agregar y ver archivos -->
            <div class="modal fade modal-xl container-fluid" id="modalArchivosenv" tabindex="-1" role="dialog" aria-labelledby="modalArchivosenvLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalArchivosLabel">Archivos Cargados</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="container-fluid">


                                <div class="m-3">
                                    <input type="file" id="nuevoArchivoenv" multiple>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="text-start m-2">
                                        <button type="button" class="btn btn-success" onclick="agregarArchivoenv()">Añadir</button>
                                    </div>
                                    <div class="text-end m-2">
                                        <button type="button" class="btn btn-outline-secondary" onclick="vaciarArregloYActualizarTablaenv()">Vaciar archivos</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Tabla para mostrar la lista de archivos en el modal -->
                            <table class="table container-fluid">
                                <thead>
                                    <tr>
                                        <th>Archivo</th>
                                        <th>Tipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="container-fluid small" id="tablaArchivosenvBody"></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

  
            @*MODAL PARA EMPLEADOS*@
            <div class="modal modal-xl custom-modal" id="modalempenv" tabindex="-1" role="dialog" aria-labelledby="modalempenvLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalempextLabel">Empleados de envío</h5>
                            <button type="button" onclick="closeModal('modalempenv','empenvcbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="client-container">
                                <div class="row">

                                    <table class="display" id="tablaempenv">
                                        <thead>
                                            <tr align="center">
                                                <th class="client-cell text-center">Empleado</th>
                                                <th class="client-cell text-center">Dirección</th>
                                                <th class="client-cell text-center">Teléfono</th>
                                                <th class="client-cell text-center">Cargo</th>
                                                <th class="client-cell text-center">Doc. Identidad</th>
                                                <th class="client-cell text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyempenv">
                                            @foreach (var EmpleadoExt in ViewBag.EmpExt)
                                            {
                                                <tr>
                                                    <td align="center" class="client-cell">@EmpleadoExt.NombreCompleto</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.Direccion</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.Telefono</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.cargo</td>
                                                    <td align="center" class="client-cell">@EmpleadoExt.Ruc</td>
                                                    <td align="center" class="client-cell">
                                                        <button class="btn btn-primary" onclick="seleccionarempenv('modalempenv','empenvcbo','empenvId','empenvNombre','@EmpleadoExt.Idempleado', '@EmpleadoExt.NombreCompleto')">Seleccionar</button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="closeModal('modalempenv','empenvcbo')" class="btn btn-secondary">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

   
            
            @*MODAL DE EXTRACCION EN ENVIO*@
            <div class="modal modal-xl custom-modal" id="modalextenv" tabindex="-1" role="dialog" aria-labelledby="modalextenvLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCampextLabel">Envío</h5>
                            <button type="button" onclick="closeModal('modalextenv','extenvcbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="container-fluid">

                                <table class="display" id="tablaExtraccionEnv">
                                    <thead>
                                        <tr align="center" class="small">
                                            <th class="client-cell text-center">Codigo Extracción</th>
                                            <th class="client-cell text-center">Unidad Catastral</th>
                                            <th class="client-cell text-center">Fecha de Extracción</th>
                                            <th class="client-cell text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyextenv">
                                        @foreach (var campanaext in ViewBag.Extraccionenv)
                                        {
                                            <tr>
                                                <td align="center" class="client-cell">@campanaext.codigo</td>
                                                <td align="center" class="client-cell">@campanaext.nrositio</td>
                                                <td align="center" class="client-cell">@campanaext.fechaini</td>
                                                <td align="center" class="client-cell">
                                                    <button class="btn btn-primary" onclick="seleccionarextenv('modalextenv','extenvcbo','@campanaext.id', '@campanaext.codigo')">Seleccionar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="closeModal('modalextenv', 'extenvcbo')" class="btn btn-secondary">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            @*MODAL PARA EFITAR EMPLEADOS*@
            <div id="editarEMPENVModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Editar Empleados en Envío</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body container-fluid">

                            <input hidden id="IdEditarempenv" class="form-control">
                            @*  <label for="nuevaCantidad">Nuevo Salario:</label>
                            <input type="number" id="nuevosalarioextemp" class="form-control">*@
                            <label for="nuevoDescuento">Categoría:</label>
                            <input readonly type="text" id="nuevacategoriaenvemp" class="form-control">
                            <label >Condición:</label>
                            <input readonly type="text" id="nuevacondicionenvemp" class="form-control">
                            <label for="nuevoDescuento">Documento de Identidad::</label>
                            <input readonly type="text" id="nuevodocenvemp" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="aplicarCambiosEnvemp()" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalAdvExtBorr" tabindex="-1" role="dialog" aria-labelledby="exampleModalAdvExtBorrLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecciona una opción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <p>Elige una acción:</p>
            </div>
            <div class="modal-footer">
                <!-- Botones del modal -->
                <button type="button" id="cerraradvext" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="seleccionarOtherExt" class="btn btn-primary">Seleccionar otra extracción</button>
                <button type="button" id="irborrador" class="btn btn-success">Ir al borrador</button>
            </div>
        </div>
    </div>
</div>
<!-- Agrega estas líneas en el encabezado de tu HTML -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

<script>






    document.addEventListener("DOMContentLoaded", function () {
                

        

        document.getElementById('nrotrozastaenv').addEventListener('input', function () {
            $.ajax({
                url: '/Pret10Envio/GetVarUmbralnroarbolenv',
                type: 'GET',
                success: function (data) {
                    var valorNumerico = parseInt(data, 10);
                    var valorIngresado = parseInt(document.getElementById('nrotrozastaenv').value);

                    // Establece los límites superior e inferior según tus criterios
                    var limiteInferior = 0;
                    var limiteSuperior = valorNumerico; // Puedes ajustar este valor según tus necesidades

                    // Valida si el valor está dentro de los límites permitidos
                    if (isNaN(valorIngresado) || valorIngresado < limiteInferior) {
                        document.getElementById('nrotrozastaenv').value = limiteInferior;
                    } else if (valorIngresado > limiteSuperior) {
                        document.getElementById('nrotrozastaenv').value = limiteSuperior;
                    }
                },
                error: function (error) {
                    console.error('Error al cargar campaña tipo arbol:', error.responseText);
                    reject(error);
                }
            });
            // Obtén el valor actual del campo

        });
        var table = jQuery('#tablaempenv').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Empleados",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Empleados",
                    "infoFiltered": "(Filtrado de _MAX_ total Empleados)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Empleados",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var table2 = jQuery('#tablalocalizaciontoenv').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Localización",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Localización",
                    "infoFiltered": "(Filtrado de _MAX_ total Localización)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Localización",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var table3 = jQuery('#tablalocalizacionenv').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Localización",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Localización",
                    "infoFiltered": "(Filtrado de _MAX_ total Localización)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Localización",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var table4 = jQuery('#tablaExtraccionEnv').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Extracción",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Extracción",
                    "infoFiltered": "(Filtrado de _MAX_ total Extracción)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Extracción",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var envio= @Html.Raw(Json.Serialize(ViewBag.Envio));
        var detalles = @Html.Raw(Json.Serialize(ViewBag.Detalles));
        var empleados = @Html.Raw(Json.Serialize(ViewBag.Empleados));
        var CompParsed = JSON.parse(envio);
        var archivosParaVista = @Html.Raw(Json.Serialize(ViewBag.ArchivosParaVista));
        var detallesParsed = JSON.parse(detalles);
        var empleadosParsed = JSON.parse(empleados);

        if (CompParsed !== null) {
            console.log(CompParsed);
            console.log(archivosParaVista);

            for (var i = 0; i < archivosParaVista.length; i++) {
                var archivoInfo = archivosParaVista[i];

                // Crea un Blob a partir de la cadena base64
                var byteCharacters = atob(archivoInfo.fileContents);
                var byteArrays = [new Uint8Array(byteCharacters.length)];

                for (var j = 0; j < byteCharacters.length; j++) {
                    byteArrays[0][j] = byteCharacters.charCodeAt(j);
                }

                var blob = new Blob(byteArrays, { type: archivoInfo.contentType });

                // Crea un nuevo objeto de archivo y almacénalo en tu arreglo
                archivosEnv.push(new File([blob], archivoInfo.fileDownloadName, { type: archivoInfo.contentType }));
            }

            mostrarArchivosenvEnTabla();
            detallesParsed.forEach(function (detalle) {
                var campTA = {
                    idunico: detalle.CodigoExtraccion,
                    idTipoArbol: detalle.IdTipoArbol,
                    nombreTipoarbol: detalle.TxtTipoArbol,
                    altura: detalle.AltArbolPro,
                    diametro: detalle.DiamPro,
                    nrotrozas: detalle.NroTrozos,
                    comentario: detalle.Comentario
                };
                ExtracciontipoArbolEnv.push(campTA);
            });

            empleadosParsed.forEach(function (detalle) {
                var campTA = {
                    idempleado: detalle.idempleado,
                    txtempleado: detalle.txtempleado,
                    telefono: detalle.telefono,
                    //salario: detalle.salario,
                    nrodoc: detalle.nrodoc,
                    categoria: detalle.categoria,
                    condicion: detalle.condicion,
                };
                arregloenvemp.push(campTA);
            });
            actualizarTablaTipoArbolSeleccionadosEnv();
            actualizartablaenvemp();

            //LOCATION
            var inversionistaNombreSpan = document.getElementById('LocalizacionenvNombre');
            var removeInversionistaSpan = document.getElementById('removeLocalizacionenvSpan');
            inversionistaNombreSpan.innerText = CompParsed.location;
            inversionistaNombreSpan.style.display = 'inline-block';
            removeInversionistaSpan.style.display = 'inline-block';
            // Ocultar el select
            var selectElement = document.getElementById('locenvcbo');
            selectElement.style.display = 'none';
            EleccionCargaenv();
            //LOCATIONTO
            var inversionistaNombreSpan = document.getElementById('LocalizaciontoenvNombre');
            var removeInversionistaSpan = document.getElementById('removeLocalizaciontoenvSpan');
            inversionistaNombreSpan.innerText = CompParsed.locationto;
            inversionistaNombreSpan.style.display = 'inline-block';
            removeInversionistaSpan.style.display = 'inline-block';
            // Ocultar el select
            var selectElement = document.getElementById('ltoenvcbo');
            selectElement.style.display = 'none';
            EleccionCargaenv();

            //EXTRACCIONELEGIDA
            var inversionistaNombreSpan = document.getElementById('extenvNombre');
            var removeInversionistaSpan = document.getElementById('removeExtenvSpan');
            inversionistaNombreSpan.innerText = CompParsed.codigo;
            inversionistaNombreSpan.style.display = 'inline-block';
            removeInversionistaSpan.style.display = 'inline-block';
            // Ocultar el seleCAMPEXT
            var selectElement = document.getElementById('extenvcbo');
            selectElement.style.display = 'none';
            $.ajax({
                url: '/Pret10Envio/CargarMood', // Reemplaza 'TuControlador' con el nombre real de tu controlador
                type: 'GET',
                success: function (response) {
                    if (response.id == 3) {
                        document.getElementById('moodNameEnv').innerText = response.name;
                        // Supongamos que tienes un input checkbox con el id "miCheckbox"
                        $('#checkEstadoEnvio').prop('checked', true);
                        $('#checkEstadoEnvio').prop('disabled', false);

                    } else if (response.id == 4) {
                        document.getElementById('moodNameEnv').innerText = response.name;
                        // Supongamos que tienes un input checkbox con el id "miCheckbox"
                        $('#checkEstadoEnvio').prop('checked', true);
                        $('#checkEstadoEnvio').prop('disabled', true);
                    }
                }
            });
            function handleFile(file) {
                // Utiliza la función de SheetJS para leer el archivo
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = e.target.result;

                    // Utiliza la función xlsx.read para procesar los datos del archivo
                    var workbook = XLSX.read(data, { type: 'binary' });

                    // Puedes acceder a las hojas de cálculo y trabajar con los datos
                    var firstSheetName = workbook.SheetNames[0];
                    var firstSheet = workbook.Sheets[firstSheetName];
                    var jsonData = XLSX.utils.sheet_to_json(firstSheet, { header: 1 });

                    // Aquí puedes hacer lo que necesites con los datos
                    console.log(jsonData);
                };

                // Lee el contenido del archivo como datos binarios
                reader.readAsBinaryString(file);
            }

            // Esta función se utilizará en tu código para manejar la carga del archivo
            function agregarArchivotim() {
                var nuevoArchivoInput = document.getElementById('nuevoArchivotim');
                var archivosNuevostim = nuevoArchivoInput.files;

                if (archivosNuevostim.length == 0) {
                    alert('Selecciona algún archivo');
                } else {
                    // Añadir cada nuevo archivo a la tabla y procesarlos con SheetJS
                    for (var i = 0; i < archivosNuevostim.length; i++) {
                        var archivotim = archivosNuevostim[i];
                        agregarFilaATablatim(archivotim);
                        archivosTim.push(archivotim);

                        // Manejar el archivo con SheetJS
                        handleFile(archivotim);
                    }

                    // Limpiar el campo de archivos para permitir agregar otro
                    nuevoArchivoInput.value = '';
                }
                }
        } else {

            document.getElementById("fechaenv").value = returndatenow();

            
        }





    });
</script>