@model Maderera_Aplicacion_Web.Models.Pret14Produccion

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h2>Detalles de Producción</h2>
        </div>
        <div class="col-sm-6 text-right">
            <a class="btn btn-danger" asp-action="ListadoPro">Volver al Listado</a>
        </div>
    </div>

    <hr class="text-decoration-line-through" />

    <div class="row mt-4">
        <div class="col-md-4">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Fecha de Producción:
                    </dt>
                    <dd>
                        @if (Model.FechaProduccion != null)
                        {
                            <input type="text" value="@Model.FechaProduccion" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Fecha de Modificación:
                    </dt>
                    <dd>
                        @if (Model.FechaModificacion != null)
                        {
                            <input type="text" value="@Model.FechaModificacion" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
               
              
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="row">
               
                <div class="col-sm-12">
                    <dt>
                        Usuario:
                    </dt>
                    <dd>
                        @if (Model.TxtUsuario != null)
                        {
                            <input type="text" value="@Model.TxtUsuario" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Usuario Modificador:
                    </dt>
                    <dd>
                        @if (Model.TxtUsuarioModificador != null)
                        {
                            <input type="text" value="@Model.TxtUsuarioModificador" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
               
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="row">

                <div class="col-sm-12">
                    <dt>
                        Estado:
                    </dt>
                    <dd>
                        @if (Model.TxtEstado != null)
                        {
                            <input type="text" value="@Model.TxtEstado" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>

            </dl>
        </div>
    </div>
  
</div>
