@model Maderera_Aplicacion_Web.Models.Pret14Produccion

@{
    <title>@ViewData["Title"] Jhyperionm</title>
}


<div class="d-flex ml-5">
    <!-- Primera fila con los botones -->
    <div class="row mb-1 justify-content-end w-100 ">
        <div class="col mb-3 mr-5">
            <img class="img-fluid" style="margin: 0.25% 3.5%;
             width: 18.5%;
             position: absolute;" src="~/jhyperionm.png" alt="Logo de la empresa )">
        </div>

        <div class="col mb-3 ml-3 mr-3">
            <div class="d-flex justify-content-between p-0" id="botonesbarra1">
                <button id="guardarPro" class="btn btn-success btn-sm mr-2" role="button">Guardar</button>
                <button id="guardarycerrarPro" class="btn btn-primary btn-sm mr-2" role="button">Guardar y Cerrar</button>
                <button id="cancelarPro" asp-controller="Pret14Produccion" asp-action="ListadoProd" class="btn btn-danger btn-sm" role="button">Cancelar</button>
            </div>
        </div>

        <div class="col mb-3 ml-5 mr-3">
            <div class="form-check d-flex justify-content-start p-0">
                @*<div class="nota-pedido container-fluid">
                <p class="text-black text-wrap align-content-lg-around">Campaña:</p>
                <div class="nota-pedido">

                </div>
                </div>*@
            </div>
        </div>
        <div class="col mt-2 ml-5 p-0">
            <div class="form-check d-flex justify-content-start p-0">
                <div class="">

                    <input checked class="form-check-input" type="checkbox" id="checkEstadoProduccion" />

                    <span class="text-black" id="moodNamePro">BORRADOR</span>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-4" />



<div class="col">
     <div class="card">
            <div class="card-header">
                <h4>Produccion</h4>
            </div>
            <div class="card-body">
           
                <ul class="nav nav-tabs bg-light border-bottom-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" id="regispro-tab" data-toggle="tab" href="#regispro">
                            <b>Produccion</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="detpro-tab" data-toggle="tab" href="#detpro">
                            <b>Detalle Produccion</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="Trabajadorpro-tab" data-toggle="tab" href="#Trabajadorpro">
                            <b>Trabajadores</b>
                        </a>
                    </li>
                </ul>



            <div class="tab-content">
                @* PARA LA TABLA REGISTRO DE EXTRACCION*@
                <div class="tab-pane fade in active show" id="regispro">
                    <form id="FormProduccion">
                    <div class="form-row mt-3 container-fluid">
                        <div class="col-md-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group row">

                                
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Extracción* :</label>
                                    <div class="col-sm-7 ml-4">
                                        <select id="extprocbo" class="custom-select ml-4" data-modal-target="modalextpro" onchange="SelectChange(this,'modalextpro')" required>
                                            <option selected value="none">Seleccionar opción</option>
                                            <option value="buscar">Buscar</option>
                                        </select>
                                        <div style="display: flex; align-items: center;">
                                            <span id="extproNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                                <span class="btn btn-close" id="removeExtproSpan" style="cursor: pointer; display: none;  margin-left: 10px;" onclick="removeextpro()"></span>
                                        </div>
                                    </div>
                               
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px">Predio:</label>
                                <input  asp-for="IdPredio" id="idpredioproduccion" hidden />
                                <div class="col-sm-7 ml-4">
                                    <select id="proprecbo" class="custom-select ml-4" data-modal-target="modalpropre" onchange="SelectChange(this,'modalpropre')">
                                        <option selected value="none">Seleccionar opción</option>
                                        <option value="buscar">Buscar</option>
                                    </select>
                                    <div style="display: flex; align-items: center;">
                                        <span id="propreNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                        <span id="removepropreSpan" class="btn btn-close" style="cursor: pointer; display: none; margin-left: 10px;" onclick="removeProPre()"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px">Campaña:</label>
                                <input asp-for="IdCampana" id="idcampanaproduccion" hidden />
                                <div class="col-sm-7 ml-4">
                                    <select id="camprocbo" class="custom-select ml-4" data-modal-target="modalcampro" onchange="SelectChange(this,'modalcampro')">
                                        <option selected value="none">Seleccionar opción</option>
                                        <option value="buscar">Buscar</option>
                                    </select>
                                    <div style="display: flex; align-items: center;">
                                        <span id="camproNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                        <span id="removecamproSpan" class="btn btn-close" style="cursor: pointer; display: none; margin-left: 10px;" onclick="removeCamPro()"></span>
                                    </div>
                                </div>
                            </div>

                        </div>




                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Fecha* :</label>
                                <div class="col-sm-7 ml-5">
                                      <input asp-for="FechaProduccion" id="fechaprod" type="date" required class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                        <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Tipo* :</label>
                                <div class="col-sm-7 ml-5">
                                        <select required class="custom-select ml-3" asp-for="TipoPro" id="tipoproduccionP">
                                        <option value="Tipo1">Tipo1</option>
                                        <option value="Tipo2">Tipo2</option>
                                    </select>
                                    <span asp-validation-for="TipoPro" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group row">

                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Comentario :</label>
                                <div class="col-sm-7 ml-5">
                                    <input id="comentarioP" asp-for="ComentarioPro" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    <span asp-validation-for="ComentarioPro" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Prod. Insumo* :</label>
                                <div class="col-sm-7 ml-5">
                                    <select id="insprocbo" class="custom-select ml-3" data-modal-target="modalinspro" onchange="SelectChange(this,'modalinspro')" required>
                                        <option selected value="none">Seleccionar opción</option>
                                        <option value="buscar">Buscar</option>
                                    </select>
                                    <input id="piId" type="number" hidden required />
                                    <div style="display: flex; align-items: center;">
                                        <span id="insproNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                        <span class="btn btn-close" id="removeInsproSpan" style="cursor: pointer; display: none;" onclick="removeinspro()"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Cantidad :</label>
                                <div class="col-sm-7 ml-5">
                                        <input asp-for="CantidadIns " required id="cantpi" type="number" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Unid. Medida :</label>
                                <div class="col-sm-7 ml-5">
                                    <input id="umpi"  readonly class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                
                <div class="tab-pane fade" id="detpro">

                    <div class="form-row mt-3 container-fluid">
                        <div class="col-md-4">
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Prod. Producido:</label>
                                    <div class="col-sm-7 ml-5">
                                    <input id="ProductopId" type="number" hidden>
                                        <select id="propcbo" class="custom-select" data-modal-target="modalprop" onchange="SelectChange(this,'modalprop')">
                                            <option selected value="none">Seleccionar opción</option>
                                            <option value="buscar">Buscar</option>
                                        </select>
                                        <div style="display: flex; align-items: center;">
                                            <span id="ProductopNombre" class="spanproducto" style="display: none;"></span>
                                            <span id="removeProductopSpan" class="equisproducto" style="cursor: pointer; display: none; margin-left: 5px;" onclick="removeProductop()">X</span>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        <div class="col-md-3">

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Cantidad :</label>
                                    <div class="col-sm-7 ml-5">
                                        <input id="cantpp" type="number" class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                    </div>
                                </div>

                        </div>
                        <div class="col-md-3">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;"> Unid. Medida :</label>
                                <div class="col-sm-7 ml-5">
                                    <input id="umpp" readonly class="form-control form-control-sm mx-sm-3 mb-2 p-0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <div class="col-sm-8 mt-0 ml-3 mr-3 mb-0">
                                <button type="button" class="btn btn-success" onclick="agregarProductop()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>




                        <table align="center" border="1" cellspacing="0" class="table table-striped table-bordered m-0" id="">
                            <thead class="HeadTA">
                                <tr>
                                    <td class="text-center">Cantidad</td>
                                    <td class="text-center">Producto Producido</td>
                                    <td class="text-center">Unidad de Medida</td>

                                    <td class="text-center">Costo Unitario Pro</td>
                                    <td class="text-center">Costo Total</td>
                                  
                                    <td colspan="2" class="text-center">Opciones</td>
                                </tr>
                            </thead>
                            <tbody class="BodyTA text-center" id="productosSeleccionadosp">
                            </tbody>
                        </table>









                    </div>
                    @* MODAL DE SELECCIONAR PRODUCTO PRODUCIDO *@
                    <div class="modal modal-xl custom-modal" id="modalprop" tabindex="-1" role="dialog" aria-labelledby="modalpropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalproLabel">Producto</h5>
                                    <button type="button" onclick="closeModal('modalprop','propcbo')" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body custom">
                                    <div class="client-container">
                                        <div class="row">
                                            <div class="col-lg-6">
                                            </div>
                                        </div>
                                        <table class="display" id="tablaProductop">
                                            <thead class="headProd">

                                                <tr align="center">
                                                    <th class="client-cell text-center">Producto</th>
                                                    <th class="client-cell text-center">Precio</th>
                                                    <th class="client-cell text-center">Unidad de Medida</th>
                                                    <th class="client-cell text-center">Largo x Ancho x Altura</th>
                                                    <th class="client-cell text-center">Diametro</th>
                                                    <th class="client-cell text-center">Peso</th>
                                                    <th class="client-cell text-center">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bodyProductop">
                                                @foreach (var producto in ViewBag.Productosp)
                                                {
                                                    <tr>
                                                        <td align="center" class="client-cell">@producto.NombreProducto</td>
                                                        <td align="center" class="client-cell">@(Math.Round(producto.Monto_ci, 2))</td>
                                                        <td align="center" class="client-cell">@producto.um</td>
                                                        <td align="center" class="client-cell">@producto.dimension</td>
                                                        <td align="center" class="client-cell">@producto.diametro</td>
                                                        <td align="center" class="client-cell">@producto.peso</td>
                                                        <td align="center" class="client-cell">
                                                            <button class="btn btn-primary" onclick="seleccionarProductop('modalprop','propcbo','ProductopId','ProductopNombre','@producto.IdProducto', '@producto.NombreProducto', '@producto.um')">Seleccionar</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="closeModal('modalprop','propcbo')" class="btn btn-secondary">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para editar cantidad y descuento -->
                    <div id="editarModalproductop" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">Editar Producto</h2>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <label>Producto:</label>
                                    <input readonly id="Productopinput" class="form-control">
                                    <input hidden id="IdEditarProductop" class="form-control">
                                    <label for="nuevaCantidadp">Nueva Cantidad:</label>
                                    <input type="number" id="nuevaCantidadp" class="form-control">
                                    <label for="nuevoDescuento">Observación:</label>
                                    <input type="text" id="observacionPp" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="aplicarCambiospp()" data-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="Trabajadorpro">

                    <div class="form-row mt-4 container-fluid">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Empleado* :</label>
                                <div class="col-sm-7 ml-5">
                                    <select id="empprocbo" class="form-control form-control-sm mx-sm-3 mb-2 " data-modal-target="modalemppro" onchange="SelectChange(this,'modalemppro')">
                                        <option selected value="none">Seleccionar opción</option>
                                        <option value="buscar">Buscar</option>
                                    </select>
                                    <div hidden> <input id="empproId" type="number" /></div>
                                    <div style="display: flex; align-items: center;">
                                        <span id="empproNombre" class="form-control form-control-sm mx-sm-3 mb-2 small text-nowrap" style="display: none;"></span>
                                        <span class="btn btn-close" id="removeempproSpan" style="cursor: pointer; display: none; margin-left: 5px;" onclick="removeemppro()"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Cargo* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="categoriaempleadopro" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                </div>


                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">

                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Nro. doc Ide* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="nrodocempleadopro" class="form-control form-control-sm mx-sm-3 mb-2 p-0">
                                </div>


                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Condicion* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="condicionempleadopro" class="form-control form-control-sm mx-sm-3 mb-2">
                                </div>


                            </div>




                        </div>


                        <div class="col-md-4">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-nowrap" style="font-size:16px;">Teléfono* :</label>
                                <div class="col-sm-7 ml-5">
                                    <input readonly id="celularempleadopro" class="form-control form-control-sm mx-sm-3 mb-2">
                                </div>


                            </div>

                            <div class="form-group row">
                                <div class="col-sm-8 mt-0 ml-3 mr-3 mb-0">
                                    <button type="button" class="btn btn-success" onclick="agregarproemp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>

                            </div>




                        </div>




                        <table align="center" border="1" cellspacing="0" class="table table-striped table-bordered m-0" id="">
                            <thead class="HeadTA">
                                <tr>
                                    <td class="text-center">Empleado</td>

                                    <td class="text-center">Condicion</td>
                                    <td class="text-center">Teléfono</td>
                                    <td class="text-center">Nro. Doc. Ident.</td>
                                    <td class="text-center">Cargo</td>

                                    <td colspan="2" class="text-center">Opciones</td>
                                </tr>
                            </thead>
                            <tbody class="BodyTA" id="empSeleccionadosPro">
                            </tbody>
                        </table>

                    </div>



                </div>

             </div>
            @*MODAL DE PREDIO EN VENTAS*@
            <div class="modal modal-xl custom-modal" id="modalpropre" tabindex="-1" role="dialog" aria-labelledby="modalpropreLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalpropreLabel">Predio</h5>
                            <button type="button" onclick="closeModal('modalpropre','proprecbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="container-fluid">

                                <table class="display" id="tablaProduccionPre">
                                    <thead>
                                        <tr align="center" class="small">
                                            <th class="client-cell text-center">Unidad Catastral</th>
                                            <th class="client-cell text-center">Nro Sitio</th>
                                            <th class="client-cell text-center">Fecha de Compra</th>
                                            <th class="client-cell text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodypropre">
                                        @foreach (var predio in ViewBag.Predios)
                                        {
                                            <tr>
                                                <td align="center" class="client-cell">@predio.unidC</td>
                                                <td align="center" class="client-cell">@predio.nroS</td>
                                                <td align="center" class="client-cell">@predio.fechC</td>
                                                <td align="center" class="client-cell">
                                                    <button class="btn btn-primary" onclick="seleccionarProPredio('modalpropre','proprecbo','idpredioproduccion','propreNombre','@predio.id', '@predio.unidC')">Seleccionar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="closeModal('modalpropre', 'proprecbo')" class="btn btn-secondary">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            @*MODAL DE CAMPAÑA EN VENTAS*@
            <div class="modal modal-xl custom-modal" id="modalcampro" tabindex="-1" role="dialog" aria-labelledby="modalcamproLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalcamproLabel">Campaña</h5>
                            <button type="button" onclick="closeModal('modalcampro','camprocbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="container-fluid">

                                <table class="display" id="tablaCampanasPro">
                                    <thead>
                                        <tr align="center" class="small">
                                            <th class="client-cell text-center">Cod Campaña</th>
                                            <th class="client-cell text-center">Area</th>
                                            <th class="client-cell text-center">Fecha de Inicio</th>
                                            <th class="client-cell text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodycampro">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="closeModal('modalcampro', 'camprocbo')" class="btn btn-secondary">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            @*MODAL DE EXTRACCION EN PRODUCCION*@
            <div class="modal modal-xl custom-modal" id="modalextpro" tabindex="-1" role="dialog" aria-labelledby="modalextproLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalProextLabel">Extraccion</h5>
                            <button type="button" onclick="closeModal('modalextpro','extprocbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="container-fluid">

                                <table class="display" id="tablaExtraccionPro">
                                    <thead>
                                        <tr align="center" class="small">
                                            <th class="client-cell text-center">Codigo Extracción</th>
                                            <th class="client-cell text-center">Unidad Catastral</th>
                                            <th class="client-cell text-center">Fecha de Extracción</th>
                                            <th class="client-cell text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyextpro">
                                        @foreach (var campanaext in ViewBag.Extraccionpro)
                                        {
                                            <tr>
                                                <td align="center" class="client-cell">@campanaext.codigo</td>
                                                <td align="center" class="client-cell">@campanaext.nrositio</td>
                                                <td align="center" class="client-cell">@campanaext.fechaini</td>
                                                <td align="center" class="client-cell">
                                                    <button class="btn btn-primary" onclick="seleccionarextpro('modalextpro','extprocbo','@campanaext.id', '@campanaext.codigo')">Seleccionar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="closeModal('modalextpro', 'extprocbo')" class="btn btn-secondary">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            @*MODAL DE EMPLEADOS EN PRODUCCION*@
            <div class="modal modal-xl custom-modal" id="modalemppro" tabindex="-1" role="dialog" aria-labelledby="modalempproLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalempproLabel">Empleados de Producción</h5>
                            <button type="button" onclick="closeModal('modalemppro','empprocbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="client-container">
                                <div class="row">

                                    <table class="display" id="tablaemppro">
                                        <thead>
                                            <tr align="center">
                                                <th class="client-cell text-center">Empleado</th>
                                                <th class="client-cell text-center">Dirección</th>
                                                <th class="client-cell text-center">Teléfono</th>
                                                <th class="client-cell text-center">Cargo</th>
                                                <th class="client-cell text-center">Doc. Identidad</th>
                                                <th class="client-cell text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyemppro">
                                            @foreach (var EmpleadoVen in ViewBag.EmpPro)
                                            {
                                                <tr>
                                                    <td align="center" class="client-cell">@EmpleadoVen.NombreCompleto</td>
                                                    <td align="center" class="client-cell">@EmpleadoVen.Direccion</td>
                                                    <td align="center" class="client-cell">@EmpleadoVen.Telefono</td>
                                                    <td align="center" class="client-cell">@EmpleadoVen.cargo</td>
                                                    <td align="center" class="client-cell">@EmpleadoVen.Ruc</td>
                                                    <td align="center" class="client-cell">
                                                        <button class="btn btn-primary" onclick="seleccionaremppro('modalemppro','empprocbo','empproId','empproNombre','@EmpleadoVen.Idempleado', '@EmpleadoVen.NombreCompleto')">Seleccionar</button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="closeModal('modalemppro','empprocbo')" class="btn btn-secondary">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            @*MODAL DE PRODUCTOS INSUMO EN PRODUCCION*@
            <div class="modal modal-xl custom-modal" id="modalinspro" tabindex="-1" role="dialog" aria-labelledby="modalinsproLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalProextLabel">Productos de Insumo</h5>
                            <button type="button" onclick="closeModal('modalinspro','insprocbo')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body custom">
                            <div class="container-fluid">

                                <table class="display" id="tablaInsumoPro">
                                    <thead>
                                        <tr align="center" class="small">
                                            <th class="client-cell text-center">Producto</th>
                                            <th class="client-cell text-center">Unidad de Medida</th>
                                            <th class="client-cell text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyinspro">
                                        @foreach (var insumopro in ViewBag.Insumopro)
                                        {
                                            <tr>
                                                <td align="center" class="client-cell">@insumopro.nombre</td>
                                                <td align="center" class="client-cell">@insumopro.um</td>
                                                <td align="center" class="client-cell">
                                                        <button class="btn btn-primary" onclick="seleccionarinspro('modalinspro','insprocbo','@insumopro.id', '@insumopro.nombre','@insumopro.um')">Seleccionar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="closeModal('modalinspro', 'insprocbo')" class="btn btn-secondary">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>


<script >

    document.addEventListener("DOMContentLoaded", function () {
        var tableE = jQuery('#tablaCampanasPro').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Campañas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Campañas",
                    "infoFiltered": "(Filtrado de _MAX_ total Campañas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Campañas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var tableE = jQuery('#tablaProduccionPre').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Producciones",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Producciones",
                    "infoFiltered": "(Filtrado de _MAX_ total Producciones)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Producciones",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var tableE = jQuery('#tablaemppro').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Empleados",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Empleados",
                    "infoFiltered": "(Filtrado de _MAX_ total Empleados)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Empleados",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var tableE = jQuery('#tablaInsumoPro').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ productos",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Empleados",
                    "infoFiltered": "(Filtrado de _MAX_ total productos)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ productos",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var tableE = jQuery('#tablaProductop').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ productos",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Empleados",
                    "infoFiltered": "(Filtrado de _MAX_ total productos)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ productos",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );
        var tableE = jQuery('#tablaExtraccionPro').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Extracciones",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Extracciones",
                    "infoFiltered": "(Filtrado de _MAX_ total Extracciones)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Extracciones",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }

        );

        var produccion= @Html.Raw(Json.Serialize(ViewBag.Produccion));
        var detalles = @Html.Raw(Json.Serialize(ViewBag.Detalles));
        var empleados = @Html.Raw(Json.Serialize(ViewBag.Empleados));
        var CompParsed = JSON.parse(produccion);
        var detallesParsed = JSON.parse(detalles);
        var empleadosParsed = JSON.parse(empleados);

        if (CompParsed !== null) {
            console.log(CompParsed);

            detallesParsed.forEach(function (detalle) {
                var campTA = {
                    idProducto: detalle.id,
                    nombreProducto: detalle.np,
                    cu: detalle.cu,
                    cantidad: detalle.can,
                    um: detalle.um,
                    total: detalle.total,
                    observacion: detalle.obs
                };
                ListadoProductospSeleccionados.push(campTA);
            });

            empleadosParsed.forEach(function (detalle) {
                var campTA = {
                    idempleado: detalle.idempleado,
                    txtempleado: detalle.txtempleado,
                    celular: detalle.telefono,
                    //salario: detalle.salario,
                    nrodoc: detalle.nrodoc,
                    categoria: detalle.categoria,
                    condicion: detalle.condicion,
                };
                arregloproemp.push(campTA);
            });
            actualizarTablaProductosSeleccionadosp();

            actualizartablaproemp();

            $.ajax({
                url: '/Pret14Produccion/CargarMood', // Reemplaza 'TuControlador' con el nombre real de tu controlador
                type: 'GET',
                success: function (response) {
                    if (response.id == 3) {
                        document.getElementById('moodNamePro').innerText = response.name;
                        // Supongamos que tienes un input checkbox con el id "miCheckbox"
                        $('#checkEstadoProduccion').prop('checked', true);
                        $('#checkEstadoProduccion').prop('disabled', false);

                    } else if (response.id == 4) {
                        document.getElementById('moodNamePro').innerText = response.name;
                        // Supongamos que tienes un input checkbox con el id "miCheckbox"
                        $('#checkEstadoProduccion').prop('checked', true);
                        $('#checkEstadoProduccion').prop('disabled', true);
                    }
                }
            });
            //INSUMO
            document.getElementById('piId').value = CompParsed.idi;
            var insumoNombreSpan = document.getElementById('insproNombre');
            var removeInsumoSpan = document.getElementById('removeInsproSpan');
            insumoNombreSpan.innerText = CompParsed.insumo;
            document.getElementById('umpi').value = CompParsed.um;

            insumoNombreSpan.style.display = 'inline-block';
            removeInsumoSpan.style.display = 'inline-block';
            // Ocultar el seleCAMPEXT
            var selectElement = document.getElementById('insprocbo');
            selectElement.style.display = 'none';

            //EXTRACCION
            if (CompParsed.ide != null) {

                var inversionistaNombreSpan = document.getElementById('extproNombre');
                var removeInversionistaSpan = document.getElementById('removeExtproSpan');
                inversionistaNombreSpan.innerText = CompParsed.codigo;
                inversionistaNombreSpan.style.display = 'inline-block';
                removeInversionistaSpan.style.display = 'inline-block';
                // Ocultar el seleCAMPEXT
                var selectElement = document.getElementById('extprocbo');
                selectElement.style.display = 'none';
                //Predio
                document.getElementById('idpredioproduccion').value = CompParsed.idp;
                var CargadorNombreSpan = document.getElementById('propreNombre');
                /*var removeCargadorSpan = document.getElementById('removepropreSpan');*/
                CargadorNombreSpan.innerText = CompParsed.predio;
                CargadorNombreSpan.style.display = 'inline-block';
                /*removeCargadorSpan.style.display = 'inline-block';*/
                //Ocultar Select
                var selectElement = document.getElementById('proprecbo');
                selectElement.style.display = 'none';

                //Campaña
                document.getElementById('idcampanaproduccion').value = CompParsed.idc;

                var CampNombreSpan = document.getElementById('camproNombre');
                /* var removeCampSpan = document.getElementById('removecamproSpan');*/
                CampNombreSpan.innerText = CompParsed.campana;
                CampNombreSpan.style.display = 'inline-block';
                /* removeCampSpan.style.display = 'inline-block';*/
                // Ocultar el select
                var selectElement = document.getElementById('camprocbo');
                selectElement.style.display = 'none';
            } else {
                //PREDIO
                document.getElementById('idpredioproduccion').value = CompParsed.idp;
                var PredioNombreSpan = document.getElementById('propreNombre');
                var removePredioSpan = document.getElementById('removepropreSpan');
                PredioNombreSpan.innerText = CompParsed.predio;
                PredioNombreSpan.style.display = 'inline-block';
                removePredioSpan.style.display = 'inline-block';
                // Ocultar el select
                var selectPredio = document.getElementById('proprecbo');
                selectPredio.style.display = 'none';

                //CAMPAÑA
                document.getElementById('idcampanaproduccion').value = CompParsed.idc;
                var CampanaNombreSpan = document.getElementById('camproNombre');
                var removeCampanaSpan = document.getElementById('removecamproSpan');
                CampanaNombreSpan.innerText = CompParsed.campana;
                CampanaNombreSpan.style.display = 'inline-block';
                removeCampanaSpan.style.display = 'inline-block';
                // Ocultar el select
                var selectCampana= document.getElementById('camprocbo');
                selectCampana.style.display = 'none';
            }
            //PREDIO

            //CAMPAÑA


            // function agregarArchivotim() {
            //     var nuevoArchivoInput = document.getElementById('nuevoArchivotim');
            //     var archivosNuevostim = nuevoArchivoInput.files;

            //     if (archivosNuevostim.length == 0) {
            //         alert('Selecciona algún archivo');
            //     } else {
            //         // Añadir cada nuevo archivo a la tabla y procesarlos con SheetJS
            //         for (var i = 0; i < archivosNuevostim.length; i++) {
            //             var archivotim = archivosNuevostim[i];
            //             agregarFilaATablatim(archivotim);
            //             archivosTim.push(archivotim);

            //             // Manejar el archivo con SheetJS
            //             handleFile(archivotim);
            //         }

            //         // Limpiar el campo de archivos para permitir agregar otro
            //         nuevoArchivoInput.value = '';
            //     }
            // }
        } else {

            document.getElementById("fechaprod").value = returndatenow();
        }
    }); 

</script>