@model Maderera_Aplicacion_Web.Models.Pert11PagoPersonal
<title>@ViewData["Title"] Jhyperionm</title>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h2>Pago Personal</h2>
        </div>
        <div class="col-sm-6 text-right">
            <a class="btn btn-danger" asp-action="pago_p_listado">Ver Listado</a>
        </div>
    </div>

    <hr class="text-decoration-line-through" />

    <div class="row mt-4">
        <div class="col-md-4">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Fecha de Pago
                    </dt>
                    <dd>
                        @if (Model.Fecha != null)
                        {
                            <input type="text" value="@Model.Fecha.ToString("yyyy-MM-dd")" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>

                </div>
                 <div class="col-sm-12">
                    <dt>
                        Mes:
                    </dt>
                    <dd>
                        @if (Model.Mes != null)
                        {
                            <input type="text" value="@Model.Mes" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>

                <div class="col-sm-10">
                    <dt>
                        Tipo:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.IdTipopagoNavigation.TxtDesc))
                        {
                            <input type="text" value="@Model.IdTipopagoNavigation.TxtDesc" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div> 


              
            </dl>
        </div>

        <div class="col-md-4">
            <dl class="row">
               
               
                 <div class="col-sm-12">
                    <dt>
                        Estado:
                    </dt>
                    <dd>
                        @if (Model.Estado != null)
                        {
                            <input type="text" value="@Model.Estado" disabled />
                        }
                        else
                        {
                            <input type="text"placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Promedio Monto:
                    </dt>
                    <dd>
                        @if (Model.MontoTotal != null)
                        {
                            <input type="text" value="@Model.MontoTotal" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div> 
            </dl>
        </div>

        <div class="col-md-4">
            <dl class="row">
                 <div class="col-sm-12">
                    <dt>
                        Empleado:
                    </dt>
                    <dd>
                        @if (Model.IdEmpleado != null)
                        {
                            <input type="text" value="@Model.IdEmpleadoNavigation.TxtPriNom @Model.IdEmpleadoNavigation.TxtSegNom" disabled  />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div>
               
                <div class="col-sm-12">
                    <dt>
                        Predio:
                    </dt>
                    <dd>
                        @if (Model.IdPredio != null)
                        {
                            <input type="text" value="@Model.IdPredioNavigation.NroSitio" disabled />
                        }
                        else
                        {
                            <input type="text" placeholder="No tiene" disabled>
                        }
                    </dd>
                </div> 
            </dl>
        </div>
    </div>
</div>
