@model Maderera_Aplicacion_Web.Models.Pret01Predio

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h2>Predio</h2>
        </div>
        <div class="col-sm-6 text-right">
            <a class="btn btn-danger" asp-action="ListadoPre">Ver Listado</a>
        </div>
    </div>

    <hr class="text-decoration-line-through" />

    <div class="row mt-4">
        <div class="col-md-3">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Número de Sitio
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(Model.NroSitio))
                        {
                            <input class="form-control" placeholder="No tiene" disabled> 
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.NroSitio)" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Área
                    </dt>
                    <dd>
                        @if (Model.Area == null)
                        {
                            <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.Area)" disabled>
                        }

                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Longitud
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(Model.Longitud))
                        {
                            <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.Longitud)" disabled>
                        }
                    </dd>
                </div>
            </dl>
        </div>

        <div class="col-md-3">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Coordenadas
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(Model.Coordenadas))
                        {
                            <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.Coordenadas)" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Latitud
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(Model.Latitud))
                        {
                              <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.Latitud)" disabled>
                        }
                    </dd>
                </div>
            </dl>
        </div>

        <div class="col-md-3">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Distrito
                    </dt>
                    <dd>
                        @if (Model.IdDistritoNavigation == null || string.IsNullOrEmpty(Model.IdDistritoNavigation.TxtDesc))
                        {
                            <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.IdDistritoNavigation.TxtDesc)" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Unidad Catastral
                    </dt>
                    <dd>
                        @if (string.IsNullOrEmpty(Model.UnidadCatastral))
                        {
                            <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.UnidadCatastral)" disabled>
                        }
                    </dd>
                </div>
            </dl>
        </div>

        <div class="col-md-3">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Inversionista
                    </dt>
                    @{
                        var displayText = string.IsNullOrEmpty(Model.IdInversionistaNavigation?.TxtRznScl)
                        ? $"{Model.IdInversionistaNavigation?.TxtPrimNom} {Model.IdInversionistaNavigation?.TxtApePat}"
                        : Model.IdInversionistaNavigation.TxtRznScl;
                    }
                    <dd>
                        @if (string.IsNullOrEmpty(displayText))
                        {
                            <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@displayText" disabled>
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Número de Hectáreas
                    </dt>
                    <dd>
                        @if (Model.NroHectareas == null)
                        {
                            <input class="form-control" placeholder="No tiene" disabled>
                        }
                        else
                        {
                            <input class="form-control" value="@Html.DisplayFor(model => model.NroHectareas)" disabled>
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
