@model IEnumerable<Maderera_Aplicacion_Web.Models.Pret01Predio>

@{
    ViewData["Title"] = "Index";
}



<div class="container-fluid">
    <div class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between w-100">
            <div class="mt-3">
                <h1>Lista de Predios</h1>
            </div>
            <div class="d-flex flex-row mt-3">
                <div class="nav-item " style="margin-right: 10px;">
                    <a asp-controller="Pret01Predio" asp-action="Predio" class="btn btn-success btn-sm">Crear</a>
                </div>
                <div class="nav-item r">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-sm">Salir</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="align-items:center;justify-content:center;text-align:center;margin-right:60px;margin-left:50px; margin-top:20px;">


    <div class="table-responsive-sm">

        <div class="align-content-center">



            <table class="display" id="prediotabla" style="border: 1px solid black;">
                <thead style="font-size:16px;text-align:center;">
                    <tr class="table-primary">
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.NroSitio)
                        </th>
                        <th class="text-center">
                            <b>Área(m²)</b>
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.UnidadCatastral)
                        </th >
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.NroHectareas)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Coordenadas)
                        </th>
                        <th class="text-center">
                            Distrito
                        </th>
                        <th class="text-center">
                            Inversionista
                        </th>
                        <th class="text-center">
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NroSitio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnidadCatastral)
                            </td>
                            <td>
                                @{
                                    // Obtener el valor de item.NroHectareas como decimal
                                    decimal nroHectareasDecimal = (decimal)item.NroHectareas;

                                    // Convertir el valor decimal a entero usando Convert.ToInt32() o (int)
                                    int nroHectareasEntero = Convert.ToInt32(nroHectareasDecimal);
                                    // Otra opción: int nroHectareasEntero = (int)nroHectareasDecimal;
                                }

                                @nroHectareasEntero


                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Coordenadas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdDistritoNavigation.TxtDesc)
                            </td>
                            <td>
                                @if (item.IdInversionistaNavigation.IdTipoDocumento == 4)
                                {
                                    @Html.DisplayFor(modelItem => item.IdInversionistaNavigation.TxtRznScl)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.IdInversionistaNavigation.TxtPrimNom)
                                    @Html.DisplayFor(modelItem => item.IdInversionistaNavigation.TxtSegunNom)
                                    @Html.DisplayFor(modelItem => item.IdInversionistaNavigation.TxtApePat)
                                    @Html.DisplayFor(modelItem => item.IdInversionistaNavigation.TxtApeMat)
                                }
                            </td>
                            <td>
                                <a asp-controller="Pret01Predio" asp-action="EditP" asp-route-id="@item.IdPredio" class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit" data-placement="top" title="Edit"></i>
                                </a> |

                                <a asp-controller="Pret01Predio" asp-action="Details" asp-route-id="@item.IdPredio" class="btn btn-info btn-sm">
                                    <i class="fas fa-eye" data-placement="top" title="Details"></i>
                                </a> |

                                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmarEliminarPredio" data-id="@item.IdPredio">
                                    <i class="fas fa-trash alt"></i>
                                </a> @*|ID:@item.IdPredio*@


                                <div class="modal fade" id="confirmarEliminarPredio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro de que desea eliminar este predio?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" onclick="eliminarPredio()">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                              
                                <a asp-controller="Pret02Campana" asp-action="ListadoCam" asp-route-id="@item.IdPredio">
                                    <i class="fas fa-door-open" data-placement="top" title="Entrar a Campaña"></i>
                                </a>
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
       

        var table = jQuery('#prediotabla').DataTable(

            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Predios",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Predios",
                    "infoFiltered": "(Filtrado de _MAX_ total Predios)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Predios",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }
        
        
        );

    });
</script>