@model Maderera_Aplicacion_Web.Models.Tnst01CompRecibido

@{

    <title>@ViewData["Title"] Jhyperionm</title>
}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h2>Detalles de Comp Recibido</h2>
        </div>
        <div class="col-sm-6 text-right">
            <a class="btn btn-danger" asp-action="boleta_c_listado">Listado</a>
        </div>
    </div>

    <hr class="text-decoration-line-through" />

    <div class="row mt-4">
        <div class="col-md-4">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Número de Comprobante Recibido:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.NroCompRecibido))
                        {
                            <input type="text" value="@Model.NroCompRecibido" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt>
                        Numero:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.TxtNumero))
                        {
                            <input type="text" value="@Model.TxtNumero" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>

                <div class="col-sm-12">
                    <dt>
                        Observacion:
                    </dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.TxtObserv))
                        {
                            <input value="@Model.TxtObserv" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
               
            </dl>
        </div>



        <div class="col-md-4">
            <dl class="row">
                <div class="col-sm-12">
                    <dt>
                        Fecha de Registro:
                    </dt>
                    <dd>
                        @if (Model.FecRegistro != null)
                        {
                            <input type="text" value="@Model.FecRegistro" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>

                <div class="col-sm-12">
                    <dt>
                        Fecha de Registro Recibido:
                    </dt>
                    <dd>
                        @if (Model.FecRegRecibido != null)
                        {
                            <input type="text" value="@Model.FecRegRecibido" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
                
                <div class="col-sm-12">
                    <dt>
                        Fecha de Emision:
                    </dt>
                    <dd>
                        @if (Model.FecEmi != null)
                        {
                            <input type="text" value="@Model.FecEmi " disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>



            </dl>
        </div>

        <div class="col-md-4">
            <dl class="row">
                @* <div class="col-sm-12">
                    <dt>
                        Monto:
                    </dt>
                    <dd>
                        @if (Model.MtoTcVta != null)
                        {
                            <input type="text" value="@Model.MtoTcVta" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div> *@

                <div class="col-sm-12">
                    <dt>
                        Monto Neto:
                    </dt>
                    <dd>
                        @if (Model.MtoNeto != null)
                        {
                            <input type="text" value="@Model.MtoNeto" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>

                

                <div class="col-sm-12">
                    <dt>
                        Descuento:
                    </dt>
                    <dd>
                        @if (Model.MtoDsctoTot != null)
                        {
                            <input type="text" value="@Model.MtoDsctoTot" disabled />
                        }
                        else
                        {
                            <input type="text" value="No tiene" disabled />
                        }
                    </dd>
                </div>
               
            </dl>
        </div>



    </div>
</div>





